ul>li{
    width: 40%;
    list-style: none;
    padding: 1.25%;
    border-radius: 10px;
    margin: 30px -40px;
    box-shadow: 2px 2px 4px gray;
}

.boton{
    margin-left: 7%;
    padding: 2%;
    border-color: crimson;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgb(53, 53, 53);
}

.pendiente{
    border: solid lightcoral;
    background-color: rgb(255, 171, 171);

}

.elaborada{
    border: solid rgb(128, 240, 148);
    background-color: rgb(171, 255, 189);

}