

img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

div{
    display: inline-block;
    border: 2px solid #ccc;
    text-align: center;
    width: 15%;
    height: 25%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

table{
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
}

th{
    background-color: #ccc;
}

th,td{
    border: solid;
}